<span class="mobile btn-mobile-menu">
    <i class="fa fa-list btn-mobile-menu__icon"></i>
    <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
</span>

<!-- 这个是打开首页进入blog之后 -->
<header class="panel-cover panel-cover--collapsed" style="background-image: url(/assets/images/Manipulation.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content"> 

          <a href="{{ site.baseurl }}" title="前往 笑笑 的主页"><img src="/assets/images/profile-zxn.jpg" width="80" alt="笑笑 logo" class="panel-cover__logo logo" /></a>
          <h1 class="panel-cover__title panel-title"><a href="{{ site.baseurl }}" title="link to homepage for 笑笑">笑笑</a></h1>
          <span class="panel-cover__subtitle panel-subtitle">不与夏虫语冰</span>
          <hr class="panel-cover__divider" />
          <p class="panel-cover__description"><a href="https://github.com/Zhao-Xiaonan" target="_blank">所编写的 项目 以及 各种小例子 的代码，欢迎访问</a></p>

          <div class="navigation-wrapper">
            <div>
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                <li class="navigation__item"><a href="/#blog" title="访问博客" class="blog-button">博客</a></li>
                <li class="navigation__item"><a href="https://github.com/Zhao-Xiaonan" target="_blank" title="我的项目">项目</a></li>
              </ul>
            </nav>
            </div>
            <div>
            <nav class="cover-navigation navigation--social">
              <ul class="navigation">


                <!-- Weibo -->
                <li class="navigation__item">
                <a href="http://weibo.com/{{ site.author.weibo_id }}/" title="夜禹 的微博" target="_blank">
                  <i class='social fa fa-weibo'></i>
                  <span class="label">Weibo</span>
                </a>
                </li>

                <!-- Github -->
                <li class="navigation__item">
                <a href="https://www.github.com/{{ site.author.github_username }}" title="笑笑 的 Github" target="_blank">
                  <i class='social fa fa-github'></i>
                  <span class="label">Github</span>
                </a>
                </li>

                <!-- RSS -->
                <li class="navigation__item">
                <a href="/feed.xml" rel="author" title="RSS" target="_blank">
                  <i class='social fa fa-rss'></i>
                  <span class="label">RSS</span>
                </a>
                </li>

                <!-- Email -->
                <li class="navigation__item">
                <a href="mailto:zhaoxiaonan724@gmail.com" title="邮件联系我">
                  <i class='social fa fa-envelope'></i>
                  <span class="label">Email</span>
                </a>
                </li>

              </ul>
            </nav>          
          </div>
          </div>

      </div>

    </div>

    <div class="panel-cover--overlay cover-slate">
    </div>
  
  </div>
</header>